<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"   
    xmlns:p="http://primefaces.org/ui">

	<h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="titulo">Sistema Novo de Pauta</ui:insert></title>
        <h:outputStylesheet library="css" name="sistema.css" />
        <h:outputScript library="js" name="jquery.maskMoney.js"/>
        <h:outputScript library="js" name="validadores.js"/>
	</h:head>

	<h:body>
		<p:ajaxStatus styleClass="ajax-status" onsuccess="configurarMoeda()">
			<f:facet name="start">
				<h:graphicImage library="images" name="loading.gif"/>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>
	
		<header>
			<div style="float: left">
				<h:link outcome="/Home">
					<h:graphicImage library="images" name="logo-studioalpha.png" />
				</h:link>
			</div>
			
			<div style="float: right; margin-right: 110px">
				<span style="float: left; height: 30px; line-height: 30px; margin-right: 60px">
				Olá Usuário
				</span>
				
				<h:form style="display: inline-block">
					<p:menubar styleClass="menu-sistema">
						<p:submenu label="Cadastros">
							<p:menuitem value="Clientes" outcome="/clientes/PesquisaCliente"/>
							<p:menuitem value="Usuários" />
							<p:separator/>
							<p:menuitem value="Categorias" />
							<p:menuitem value="Produtos" outcome="/produtos/PesquisaProdutos" />
						</p:submenu>
						
						<p:submenu label="Cadastros">
							<p:menuitem value="Clientes" outcome="/clientes/PesquisaCliente"/>
							<p:menuitem value="Usuários" />
							<p:separator/>
							<p:menuitem value="Categorias" />
							<p:menuitem value="Produtos" outcome="/produtos/PesquisaProdutos" />
						</p:submenu>					
						
						<p:menuitem value="Sair" url="/logout" />
					</p:menubar>
				</h:form>
			</div>
			<div style="clear: both"></div>
		</header>

		<div id="conteudo">
			<ui:insert name="corpo"/>
		</div>
		
		<p:separator style="margin-top: 20px"/>
		
		<footer>
			Studio Alpha Comunicação Ltda -
			<a href="https://www.studioalpha.com.br" target="_blank">www.studioalpha.com.br</a>
		</footer>
		
		<script>
			function configurarMoeda() {
				$(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
			}
			
			$(document).ready(function() {
				configurarMoeda();
			});
		</script>
	</h:body>
	
</html>