<ui:composition
   xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/html"   
    xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo, rotulo, campo">
		<p:outputLabel value="Número" />
		<h:outputText value="#{cadastroPedidoBean.pedido.id}" />
		
		<p:outputLabel value="Data de criação" />
        <h:outputText value="#{cadastroPedidoBean.pedido.dataCriacao}">
        	<f:convertDateTime pattern="dd/MM/yyyy" />
        </h:outputText>
        
        <p:outputLabel value="Status"/>
        <h:outputText value="#{cadastroPedidoBean.pedido.status}" />
        
        <p:outputLabel value="Vendedor" for="vendedor"/>
        <p:selectOneMenu id="vendedor" value="#{cadastroPedidoBean.pedido.vendedor}">
            <f:selectItem itemLabel="Selecione" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Cliente" for="cliente"/>
        <p:autoComplete id="cliente" size="40" dropdown="true" 
        	value="#{cadastroPedidoBean.pedido.cliente}" />
        
        <p:outputLabel value="Forma de pagamento" for="formaPagamento"/>
        <p:selectOneMenu id="formaPagamento" value="#{cadastroPedidoBean.pedido.formaPagamento}">
            <f:selectItem itemLabel="Selecione" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Valor do frete" for="valorFrete"/>
        <p:inputText id="valorFrete" size="10" maxlength="10" styleClass="moeda" 
        	value="#{cadastroPedidoBean.pedido.valorFrete}">
        	<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
        </p:inputText>
        
        <p:outputLabel value="Subtotal" style="font-weight: bold"/>
        <h:outputText value="R$ 0,00" style="font-weight: bold" id="subtotal" />
        
        <p:outputLabel value="Valor de desconto" for="valorDesconto"/>
        <p:inputText id="valorDesconto" size="10" maxlength="10" styleClass="moeda" 
        	value="#{cadastroPedidoBean.pedido.valorDesconto}">
        	<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
        </p:inputText>
        
        <p:outputLabel value="Total do pedido" style="font-weight: bold; font-size: 1.1em"/>
        <h:outputText value="#{cadastroPedidoBean.pedido.valorTotal}" 
        	style="font-weight: bold; font-size: 1.1em" id="totalPedido">
        	<f:convertNumber type="currency" />
        </h:outputText>
	</p:panelGrid>
  	
</ui:composition>