<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/html"   
    xmlns:p="http://primefaces.org/ui">
	<h:panelGroup layout="block" style="padding-right: 10px">
		<p:inputTextarea rows="10" style="width: 100%" value="#{cadastroPedidoBean.pedido.observacao}" />
	</h:panelGroup>
  	
</ui:composition>