<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">         
      
<h:head>
</h:head>

<body>
    <h:form>
        <p:inputText value="#{alan.name}" />
        <p:commandButton value="Add" actionListener="#{alan.add}" ajax="dt_names"/>

        <p:dataTable id="dt_names" value="#{alan.list}" var="e">
            <p:column>
                <h:outputText value="#{e}"/>
            </p:column>

            <p:column>
                <p:commandButton value="Remove" actionListener="#{alan.remove(e)}" update="dt_names"/>
            </p:column>
        </p:dataTable>
    </h:form>
</body>
</html>
